div.dokuwiki .pagequery {
    overflow: hidden;
    position:relative;
    margin:0 0 1em 0;
    padding:3px;
    border-width:1px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius: 8px;
    font-size: 90%;
    line-height: 105%;
}
div.dokuwiki .notable {
    padding:6px 14px 24px !important;
}
div.dokuwiki .pagequery table {
    border-collapse:collapse;
    width:100%;
    margin:0;
}
div.dokuwiki .pagequery,
div.dokuwiki .pagequery td {
	border-style:solid;
	border-color:#D7D5D4;
}

/* Old-school tables version */

div.dokuwiki .pagequery td {
	padding:8px 10px 20px;
	background-color:white;
    border-width:0 1px 0 0;
}
div.dokuwiki .pagequery table,
div.dokuwiki .pagequery.noborder,
div.dokuwiki .pagequery td.noborder,
div.dokuwiki .pagequery td:nth-last-child(1),
div.dokuwiki .pagequery li.noborder {
    border-width:0;
}

/* HTML5 Columns version */

div.dokuwiki .pagequery .inner {
    -webkit-column-width: 15em;
    -moz-column-width: 15em;
    column-width: 15em;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    -webkit-column-rule: 1px solid #D7D5D4;
    -moz-column-rule: 1px solid #D7D5D4;
    column-rule: 1px solid #D7D5D4;
	padding:7px 8px;
}
div.dokuwiki .pagequery .noinnerborder {
    -webkit-column-rule: 0;
    -moz-column-rule: 0;
    column-rule: 0;
}

/*
div.dokuwiki .pagequery ul {
    -webkit-column-break-inside:avoid;
    -moz-column-break-inside:avoid;
    column-break-inside:avoid;
}
*/

div.dokuwiki .pagequery h1,
div.dokuwiki .pagequery h2 {
    -webkit-column-break-after:avoid;
    -moz-column-break-after:avoid;
    column-break-after:avoid;
}


div.dokuwiki .pagequery h1,
div.dokuwiki .pagequery h2,
div.dokuwiki .pagequery h3,
div.dokuwiki .pagequery h4,
div.dokuwiki .pagequery h5,
div.dokuwiki .pagequery h6 {
    padding:0.06em 0 0.03em 0;
    margin:0;
    margin-bottom:2px;
    color:#A0A0A0;
}
div.dokuwiki .pagequery h3,
div.dokuwiki .pagequery h4,
div.dokuwiki .pagequery h5,
div.dokuwiki .pagequery h6 {
    font-weight:normal;
}
div.dokuwiki .pagequery h1 {
    font-size:134%;
    padding:0px 0px 3px 7px;
    background:#EDEDED;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius: 6px;
}

div.dokuwiki .pagequery h1.title {
    margin-bottom: 6px;
    border-bottom: 1px solid #D7D5D4;
    background: none;
    font-size:132%;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius: 0;
}

div.dokuwiki .pagequery h2 {font-size:125%; font-weight:bold;}
div.dokuwiki .pagequery h3 {font-size:114%;}
div.dokuwiki .pagequery h4 {font-size:108%;}
div.dokuwiki .pagequery h5 {font-size:100%;}
div.dokuwiki .pagequery h6 {font-size:95%;}

div.dokuwiki .pagequery ul {
    list-style:none;
    margin:0 0 8px 0;
	text-align:left;
    padding-left:8px;
}

div.dokuwiki .pagequery li {
    margin-left:0px !important;
	padding-left:10px;
	text-indent:-10px;
    line-height:135%;
    border-top:1px dotted #D7D5D4;
}
div.dokuwiki .pagequery li .inline,
div.dokuwiki .pagequery .plain {
    font-size:80%;
    font-style:italic !important;
    color:#A0A0A0;
}
div.dokuwiki .pagequery li .inline {
    margin-left:0.7em;
}
div.dokuwiki .pagequery .plain {
    margin:0.1em 0.5em 0.2em;
    padding:5px;
}
div.dokuwiki .pagequery li:nth-child(1) {
    border:0;
}
div.dokuwiki .pagequery a:hover {
    text-decoration:none;
    color:#202020 !important;
}
div.dokuwiki .pagequery a.top,
div.dokuwiki .pagequery .count {
    position:absolute;
    bottom:0.4em;
    font-style:italic;
    color:#A0A0A0;
}
div.dokuwiki .pagequery a.top {
    right:0.5em;
}
div.dokuwiki .pagequery .count {
    left: 0.5em;
}
/* credit: blockquote:plugin */
div.dokuwiki .pagequery .quoted {
    font-size:80%;
	margin:5px 15px 10px 15px !important;
	border:1px dotted __border__ !important;
    background:#FAFACE url("images/blockquote.gif") no-repeat 5px 5px !important;
	padding:10px 15px 15px 18px !important;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius: 6px;
}
div.dokuwiki .pagequery .quoted a,
div.dokuwiki .pagequery .plain a {
    margin-left:0.5em;
}
div.dokuwiki .pagequery p.noresults {
    color:#899BB2 !important;
    font-size:1.2em;
    margin-left:1.2em;
}
div.dokuwiki .pagequery p.noresults span {
    font-size:0.8em;
    line-height:1.2em;
    font-style:italic;
    padding:3px 6px;
    margin-right:0.3em;
    background-color:#EDEDED;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 6px;
}

