/* Basic pagequery frame */

div.dokuwiki .pagequery {
    border-color:#D7D5D4;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-style:solid;
    border-width:0;
    padding:3px;
    font-size: 90%;
    line-height: 105%;
    margin:0 0 1em 0;
    overflow: hidden;
    position:relative;
    text-align: left;
}

div.dokuwiki .pagequery.border {
    border-width: 1px;
}


/* Old-school tables version */

div.dokuwiki .pagequery table {
    border-collapse:collapse;
    border-width:0;
    margin:0;
    width:100%;
}
div.dokuwiki .pagequery td {
	background-color:white;
	border-color:#D7D5D4;
	border-style:solid;
    border-width:0;
	padding:8px 10px 20px;
}
div.dokuwiki .pagequery td.border {
    border-width:0 1px 0 0;
}
div.dokuwiki .pagequery td:nth-last-child(1) {
    border-width: 0;
}
div.dokuwiki .tableless {
    padding:6px 14px 24px !important;
}


/* HTML5 Columns version */

div.dokuwiki .pagequery .inner {
    column-width: 15em;
    -moz-column-width: 15em;
    -webkit-column-width: 15em;
    column-gap: 1.5em;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-rule: 0;
    -moz-column-rule: 0;
    -webkit-column-rule: 0;
	padding:7px 8px;
}
div.dokuwiki .pagequery .inner-border {
    column-rule: 1px solid #D7D5D4;
    -moz-column-rule: 1px solid #D7D5D4;
    -webkit-column-rule: 1px solid #D7D5D4;
}


/* Headings and text */

div.dokuwiki .pagequery h1,
div.dokuwiki .pagequery h2 {
    column-break-after:avoid;
    -moz-column-break-after:avoid;
    -webkit-column-break-after:avoid;
}


div.dokuwiki .pagequery h1,
div.dokuwiki .pagequery h2,
div.dokuwiki .pagequery h3,
div.dokuwiki .pagequery h4,
div.dokuwiki .pagequery h5,
div.dokuwiki .pagequery h6 {
    color:#A0A0A0;
    margin:0;
    margin-bottom:2px;
    padding:0.06em 0 0.03em 0;
}
div.dokuwiki .pagequery h3,
div.dokuwiki .pagequery h4,
div.dokuwiki .pagequery h5,
div.dokuwiki .pagequery h6 {
    font-weight:normal;
}
div.dokuwiki .pagequery h1 {
    background:#EDEDED;
    border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    font-size:134%;
    padding:2px 0px 2px 7px;
}

div.dokuwiki .pagequery h1.title {
    background: none;
    border-bottom: 1px solid #D7D5D4;
    border-radius: 0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    font-size:132%;
    margin-bottom: 6px;
}

div.dokuwiki .pagequery h2 {font-size:125%; font-weight:bold;}
div.dokuwiki .pagequery h3 {font-size:114%;}
div.dokuwiki .pagequery h4 {font-size:108%;}
div.dokuwiki .pagequery h5 {font-size:100%;}
div.dokuwiki .pagequery h6 {font-size:95%;}

div.dokuwiki .pagequery ul {
    list-style:none;
    margin:0 0 8px 0;
    padding-left:8px;
	text-align:left;
}

div.dokuwiki .pagequery li {
    border: 0;
    color:#A0A0A0;
    line-height:135%;
    margin-left:0px !important;
	padding-left:10px;
	text-indent:-10px;
}
div.dokuwiki .pagequery li.border {
    border-top:1px dotted #DADADA;
}
div.dokuwiki .pagequery li .inline,
div.dokuwiki .pagequery .plain {
    color:#A0A0A0;
    font-size:80%;
    font-style:italic !important;
}
div.dokuwiki .pagequery li .inline {
    margin-left:0.7em;
}
div.dokuwiki .pagequery .plain {
    margin:0.1em 0.5em 0.2em;
    padding:5px;
}
div.dokuwiki .pagequery li:nth-child(1) {
    border:0;
}
div.dokuwiki .pagequery a:hover {
    color:#202020 !important;
    text-decoration:none;
}
div.dokuwiki .pagequery a.top,
div.dokuwiki .pagequery .count {
    bottom:0.4em;
    color:#A0A0A0;
    font-style:italic;
    position:absolute;
}
div.dokuwiki .pagequery a.top {
    right:0.5em;
}
div.dokuwiki .pagequery .count {
    right: 4.5em;
}

/* credit: blockquote:plugin */
div.dokuwiki .pagequery .quoted {
    background:#FAFACE url("images/blockquote.gif") no-repeat 5px 5px !important;
	border:1px dotted __border__ !important;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    font-size:80%;
	margin:5px 15px 10px 15px !important;
	padding:10px 15px 15px 18px !important;
}

div.dokuwiki .pagequery .quoted a,
div.dokuwiki .pagequery .plain a {
    margin-left:0.5em;
}
div.dokuwiki .pagequery p.no-results {
    color:#899BB2 !important;
    font-size:1.2em;
    margin-left:1.2em;
}
div.dokuwiki .pagequery p.no-results span {
    background-color:#EDEDED;
    border-radius: 6px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    font-size:0.8em;
    font-style:italic;
    line-height:1.2em;
    margin-right:0.3em;
    padding:3px 6px;
}

.pg-dialog .ui-dialog-content {
    font-size: 80%;
}

